@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ul,
  ol {
    list-style: revert;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

:root {
  --primary-rgb: 171, 8, 255;
  --banner-rgb: 171, 8, 255;
  --banner-foreground-rgb: 255, 255, 255;
  --foreground-inverted: 255, 255, 255;
  --foreground-secondary-rgb: 141, 150, 150;
  --foreground-rgb: 29, 29, 35;
  --background-rgb: 255, 255, 255;
  --background-thin-rgb: 251, 251, 252;
  --link-rgb: 171, 8, 255;
  --panel-rgb: 36, 36, 36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 171, 8, 255;
    --banner-rgb: 171, 8, 255;
    --banner-foreground-rgb: 255, 255, 255;
    --foreground-inverted: 255, 255, 255;
    --foreground-secondary-rgb: 141, 150, 150;
    --foreground-rgb: 29, 29, 35;
    --background-rgb: 255, 255, 255;
    --link-rgb: 171, 8, 255;
    --panel-rgb: 36, 36, 36;

    /*     --primary-rgb: 59, 58, 190;
    --banner-rgb: 59, 58, 190;
    --banner-foreground-rgb: 24, 24, 24;
    --foreground-inverted: 24, 24, 24;
    --foreground-secondary-rgb: 115, 125, 125;
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 24, 24, 24;
    --link-rgb: 147, 147, 247;
    --panel-rgb: 36, 36, 36; */
  }
}

@font-face {
  font-family: "appFont";
  /* A name to use later */
  src: url("/fonts/font.woff2");
  /* IE9 Compat Modes */
  src: url("/fonts/font.woff2") format("embedded-opentype"),
    url("/fonts/font.woff2") format("woff2"),
    url("/fonts/font.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "appBodyFont";
  /* A name to use later */
  src: url("/fonts/Regular.woff");
  /* IE9 Compat Modes */
  src: url("/fonts/Regular.woff"), url("/fonts/Regular.woff"),
    url("/fonts/Regular.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(var(--background-rgb));
  scroll-behavior: smooth;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: appFont;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0.2px;
  height: 0.2px;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.typing-effect {
  border-right: 0.15em solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Add this to your global CSS file */
.no-scroll {
  overflow: hidden !important;
  height: 35vh !important;
  position: relative;
  /* Prevent scrolling on iOS */
  width: 100% !important;
}

/* home image */

.fade-container {
  position: relative;
  min-height: 150px;
  /* Ensures container has a minimum height */
  overflow: hidden;
  background-image: url("/home-img.png");
  /* Path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fade-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  /* Height of the fade effect */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-bold-family {
  font-family: appFont !important;
}

.font-body {
  font-family: appBodyFont !important;
}

.hoverItem {
  visibility: hidden;
}

.hoverContainer:hover .hoverItem {
  visibility: visible;
}

.ant-popconfirm-buttons button {
  background-color: rgb(var(--background-rgb)) !important;
  color: rgb(var(--primary-rgb)) !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  /* border-color: transparent !important;
  box-shadow: none !important;*/
}

.ant-select-selector {
  /* border-color: transparent !important;
  box-shadow: none !important;*/
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.blur-at-top {
  -webkit-mask-image: -webkit-gradient(linear,
      0 0,
      0 50%,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 6)));

  background: #fbfbfc;
}

.ant-drawer-body {
  padding: 0 !important;
}

[aria-checked="false"] {
  background-color: #ff7a45 !important;
  color: white;
}

.ant-btn-primary {
  background-color: rgb(var(--primary-rgb));
}

.ant-table-cell {
  overflow-x: scroll !important;
  white-space: nowrap;
}

.gradient-border-button {
  padding-right: 10px !important;
  padding-left: 10px !important;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(45deg, #be5bfb, #855cef, #8f4be7);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient-border-button:hover {
  background-color: #f0f0f0;
  /* Change background color on hover */
}

@keyframes subtle-shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.shimmer-gradient {
  background: linear-gradient(
    110deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  background-size: 200% 100%;
  animation: subtle-shimmer 4s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}