@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 35, 12, 128;
  --banner-rgb: 93, 92, 222;
  --banner-foreground-rgb: 255, 255, 255;
  --foreground-secondary-rgb: 141, 150, 150;
  --foreground-rgb: 35, 12, 128;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 59, 58, 190;
    --banner-rgb: 59, 58, 190;
    --banner-foreground-rgb: 24, 24, 24;
    --foreground-secondary-rgb: 115, 125, 125;
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 24, 24, 24;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0.2px;
  height: 0.2px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-effect {
  border-right: 0.15em solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
