@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-rgb: 51, 51, 255;
  --banner-rgb: 51, 51, 255;
  --banner-foreground-rgb: 255, 255, 255;
  --foreground-inverted: 255, 255, 255;
  --foreground-secondary-rgb: 141, 150, 150;
  --foreground-rgb: 29, 29, 35;
  --background-rgb: 255, 255, 255;
  --background-thin-rgb: 251, 251, 252;
  --link-rgb: 51, 51, 255;
  --panel-rgb: 36, 36, 36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 51, 51, 255;
    --banner-rgb: 51, 51, 255;
    --banner-foreground-rgb: 255, 255, 255;
    --foreground-inverted: 255, 255, 255;
    --foreground-secondary-rgb: 141, 150, 150;
    --foreground-rgb: 29, 29, 35;
    --background-rgb: 255, 255, 255;
    --link-rgb: 51, 51, 255;
    --panel-rgb: 36, 36, 36;

    /*     --primary-rgb: 59, 58, 190;
    --banner-rgb: 59, 58, 190;
    --banner-foreground-rgb: 24, 24, 24;
    --foreground-inverted: 24, 24, 24;
    --foreground-secondary-rgb: 115, 125, 125;
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 24, 24, 24;
    --link-rgb: 147, 147, 247;
    --panel-rgb: 36, 36, 36; */
  }
}

@font-face {
  font-family: "appFont"; /* A name to use later */
  src: url("/fonts/CircularBook.woff2"); /* IE9 Compat Modes */
  src: url("/fonts/CircularBook.woff2") format("embedded-opentype"),
    url("/fonts/CircularBook.woff2") format("woff2"),
    url("/fonts/CircularBook.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "appBodyFont"; /* A name to use later */
  src: url("/fonts/Regular.woff"); /* IE9 Compat Modes */
  src: url("/fonts/Regular.woff"), url("/fonts/Regular.woff"),
    url("/fonts/Regular.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  scroll-behavior: smooth;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: appFont;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0.2px;
  height: 0.2px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing-effect {
  border-right: 0.15em solid black;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Add this to your global CSS file */
.no-scroll {
  overflow: hidden !important;
  height: 35vh !important;
  position: relative; /* Prevent scrolling on iOS */
  width: 100% !important;
}

/* home image */

.fade-container {
  position: relative;
  min-height: 150px; /* Ensures container has a minimum height */
  overflow: hidden;
  background-image: url("/home-img.png"); /* Path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fade-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px; /* Height of the fade effect */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-bold {
  font-family: appFont !important;
}

.font-body {
  font-family: appBodyFont !important;
}

.hoverItem {
  visibility: hidden;
}

.hoverContainer:hover .hoverItem {
  visibility: visible;
}

.ant-popconfirm-buttons button {
  background-color: rgb(var(--background-rgb)) !important;
  color: rgb(var(--primary-rgb)) !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}
.ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
}
